<%= simple_form_for(@post, remote: true) do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :title %>
    <%= f.input :body %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit %>
  </div>
<% end %>
